body {
  background-color: #dbf3ff;
}
.padpage {
  padding-top: 10px;
  padding-bottom: 10px;
}
.small {
  font-size: small;
  color: darkgrey;
}
.danger {
  color: red;
}
.accordion-btn { text-decoration: none !important; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
